<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th>Price</th>
      <th>Inventory</th>
      <th>For Sale</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <%= render :partial => "vinyls/vinyl", :collection => @artist.vinyls %>

  </tbody>
</table>

<br>
<%= link_to 'Add New Vinyl', new_artist_vinyl_path(@artist, @artist.vinyls.build) %>
