<%= render 'layouts/table' %>

<script type='text/javascript' charset='utf-8'>
$(function() {
    $.ajax({
        type: 'GET',
        url: '/vinyls.json'
    }).done(function(data) {
        console.log(data);
        let div_html = '';
        let base_url = 'http://localhost:3000';
        $.each(data, function( index, value ) {
            let newVinyl = new Vinyl(value);
            div_html += '<tr>';
            div_html += `<th scope="row"><a href="${base_url}/artists/${value['artist']['id']}">${value['artist']['name']}</a></th>`;
            div_html += `<th scope="row"><a href="${base_url}/vinyls/${value['id']}">${value['title']}</a></th>`;
            div_html += '<th scope="row">' + value['price'] +'</th>';
            div_html += '<th scope="row">' + value['inventory'] +'</th>';
            div_html += '<th scope="row">' + value['for_sale'] +'</th>';
            div_html += '</tr>'
        });
    
        $('#vinyls_table').html(div_html);
    });

    function Vinyl(vinyl) {
        this.id = vinyl.id;
        this.title = vinyl.title;
        this.price = vinyl.price;
        this.inventory = vinyl.inventory;
        this.for_sale = vinyl.for_sale;
        console.log(this);
    }
});
</script>