<%= render 'layouts/table' %>

<script type='text/javascript' charset='utf-8'>
$(function() {
    $.ajax({
        type: 'GET',
        url: '/vinyls/my_vinyls.json'
    }).done(function(data) {
        let div_html = '';
        $.each(data, function( index, value ) {
            let newVinyl = new Vinyl(value);
            div_html += newVinyl.formatIndex();
        });
    
        $('#vinyls_table').html(div_html);

        $('.delete_vinyl').click(function() {
            let id = $(this).attr("id");
            if (confirm('Are you sure?')) {
                $.ajax({
                type: 'DELETE',
                url: `/vinyls/${id}`
                }).done(function(data) {
                    $(`#vinyl_${id}`).delete();
                });
            }
            
        });
    });

    

    function Vinyl(vinyl) {
        this.id = vinyl.id;
        this.title = vinyl.title;
        this.price = vinyl.price;
        this.inventory = vinyl.inventory;
        this.for_sale = vinyl.for_sale;
        this.artist_id = vinyl.artist.id;
        this.artist_name = vinyl.artist.name;
    }

    Vinyl.prototype.formatIndex = function() {
        let base_url = 'http://localhost:3000';
        let vinyl_html = `<tr id='vinyl_${this.id}'>`;
        vinyl_html += `<th scope="row"><a href="${base_url}/artists/${this.artist_id}">${this['artist_name']}</a></th>`;
        vinyl_html += `<th scope="row"><a href="${base_url}/vinyls/${this['id']}">${this['title']}</a></th>`;
        vinyl_html += '<th scope="row">' + this.formatPrice() +'</th>';
        vinyl_html += '<th scope="row">' + this['inventory'] +'</th>';
        vinyl_html += '<th scope="row">' + this.formatForSale() +'</th>';
        vinyl_html += `<th scope="row"><a href="${base_url}/vinyls/${this.id}/edit">Edit</a></th>`;
        vinyl_html += `<th scope="row"><a href="#" id=${this.id} class="delete_vinyl">Delete</a></th>`;
        vinyl_html += '</tr>';
        return vinyl_html;
    }

    Vinyl.prototype.formatPrice = function() {
        return `$${this['price']}`;
    }

    Vinyl.prototype.formatForSale = function() {
        return (this.for_sale === true) ? "y" : "n";
    }
});
</script>