<%= render 'layouts/table' %>

<button class='btn btn-primary vinyls_index'>Show Vinyls List</button>
<br><br>
<h2>Add New Vinyl</h2>
<div class="alert alert-danger" style="display:none"></div>
<%= render partial: 'form_without_errors', locals: {vinyl: Vinyl.new} %>