<% content_for :table_content do %>
    <%= render partial: 'vinyl', locals: {vinyl: @vinyl} %>
<% end %>

<%= render 'layouts/table' %>

<button class='btn btn-primary next'>Next</button>

<div id="current_vinyl_id" style="display:none">0</div>