<% content_for :cart_content do %>
  <%= render partial: 'line_item', collection: @cart.line_items %>
<% end %>

<%= render 'cart_table' %>

<h3>Order total: <strong>$<%= current_cart.total %></strong> </h3>
