@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  padding-top: 60px;
}

textarea:focus, input:focus{
    outline: none;
}

/* error messages */

#user-email {
  text-align: right;
  font-size: 14px;
  color: #9d9d9d;
  padding-top: 15px;
}

#flash_error, #flash_alert {
  color: red;
}

#flash_notice {
  color: green;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

/* navbar */

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
