<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th>Price</th>
      <th>Qty</th>
      <th>For Sale</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <%= yield :table_content %>

  </tbody>
</table>
